doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Ratish Sharma - Electrical & Computer Engineer

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Ratish Sharma
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='Ratish Sharma')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item.mt-3
                        button#theme-toggle.btn.btn-outline-light.theme-toggle-btn(aria-label='Toggle theme')
                            i.fas.fa-moon

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Ratish 
                        span.text-primary Sharma
                    .subheading.mb-5
                        | San Francisco Bay Area, USA (Ready to relocate) · (650) 472-7658 · 
                        a(href='mailto:ratee.beest@gmail.com') ratee.beest@gmail.com
                    p.lead.mb-5
                        | Electrical and Computer Engineer with practical experience in SAR and OTA RF testing for wireless devices. Skilled in operating and setting up spectrum analyzers, signal generators, and other RF test equipment to measure SAR, TRP, and TIS performance according to regulatory standards. Experienced in collecting and organizing test data in power reports and supporting day-to-day lab testing activities. Reliable, detail-oriented, and quick to learn new procedures in a fast-paced engineering environment.
                    .social-icons
                        a.social-icon(href='https://linkedin.com/in/ratish-sharma-45a787161', target='_blank', rel='noopener noreferrer')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/BeestRatish', target='_blank', rel='noopener noreferrer')
                            i.fab.fa-github
                        a.social-icon(href='mailto:ratee.beest@gmail.com')
                            i.fas.fa-envelope

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Associate Testing Technician, OTA
                            .subheading.mb-3 Element Materials Technology
                            .mb-3.text-muted San Jose, CA
                            ul.mb-0
                                li Operate OTA testing equipment, including spectrum analyzers and signal generators, to measure Total Radiated Power (TRP) and Total Isotropic Sensitivity (TIS).
                                li Support wireless device evaluations by conducting precise RF testing and analyzing results to meet project requirements.
                                li Assist in EMC compliance testing to ensure devices adhere to regulatory standards for wireless communication.
                                li Collaborate with senior engineers to troubleshoot RF performance issues and optimize test configurations.
                        .flex-shrink-0
                            span.text-primary Sep 2025 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Seasonal Associate Technician, SAR Compliance
                            .subheading.mb-3 Element Materials Technology
                            .mb-3.text-muted Morgan Hill, CA
                            ul.mb-0
                                li Performed SAR, RF exposure, and wireless communication device compliance testing in accordance with FCC and industry regulatory standards.
                                li Analyzed test data and evaluated devices to determine applicable regulatory standards and requirements.
                                li Compiled detailed test reports using MS Word, Excel, and Adobe Acrobat to support regulatory submissions.
                                li Assisted in development and continuous improvement of laboratory test methodologies and procedures.
                                li Maintained and operated RF test equipment including Rohde & Schwarz CMW500, spectrum analyzers, and signal generators.
                                li Automated test sequences and data processing using Python scripts, reducing manual workload and increasing test efficiency.
                        .flex-shrink-0
                            span.text-primary Apr 2025 - Aug 2025

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 San Francisco State University
                            .subheading.mb-3 Master of Science
                            div Electrical and Computer Engineering
                            .text-muted San Francisco, CA
                        .flex-shrink-0
                            span.text-primary May 2025

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 San Francisco State University
                            .subheading.mb-3 Bachelor of Science
                            div Computer Engineering
                            .text-muted San Francisco, CA
                        .flex-shrink-0
                            span.text-primary May 2024

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Canada College
                            .subheading.mb-3 Associate of Science
                            div Computer Science
                            .text-muted Redwood City, CA
                        .flex-shrink-0
                            span.text-primary Dec 2021

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming & Scripting
                    ul.list-inline.dev-icons.mb-4
                        li.list-inline-item
                            i.fab.fa-python(title='Python')
                        li.list-inline-item
                            i.fas.fa-code(title='C')
                        li.list-inline-item
                            i.fas.fa-microchip(title='Embedded C')
                        li.list-inline-item
                            i.fas.fa-project-diagram(title='Verilog')
                    .mb-4
                        strong C, Python, Embedded C, Verilog
                    
                    .subheading.mb-3 Testing & Compliance
                    ul.fa-ul.mb-4
                        li
                            span.fa-li
                                i.fas.fa-check.text-primary
                            | SAR/RF exposure testing
                        li
                            span.fa-li
                                i.fas.fa-check.text-primary
                            | OTA/EMC testing
                        li
                            span.fa-li
                                i.fas.fa-check.text-primary
                            | Regulatory standards (FCC, etc.)
                        li
                            span.fa-li
                                i.fas.fa-check.text-primary
                            | Test method development
                    
                    .subheading.mb-3 Hardware & Protocols
                    ul.fa-ul.mb-4
                        li
                            span.fa-li
                                i.fas.fa-check.text-primary
                            | STM32, Raspberry Pi
                        li
                            span.fa-li
                                i.fas.fa-check.text-primary
                            | RF test equipment (spectrum analyzers, signal generators, network analyzers)
                        li
                            span.fa-li
                                i.fas.fa-check.text-primary
                            | UART, I2C, SPI
                    
                    .subheading.mb-3 Software Tools
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check.text-primary
                            | STM32CubeIDE, Altium Designer, OpenCV, Matlab, LabView, cDASY6
                        li
                            span.fa-li
                                i.fas.fa-check.text-primary
                            | MS Word, MS Excel, Adobe Acrobat

            hr.m-0

            // Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Academic Projects
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Motion Estimation Chip Design
                            .subheading.mb-3 Dec 2023
                            ul.mb-0
                                li Designed and Verified a high-performance motion estimation chip using Verilog and Synopsys EDA tools, achieving a 98% production yield.
                                li Utilized Design Compiler for synthesis and PrimeTime for timing analysis, ensuring precision in timing and functionality.
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Autonomous Trained Model Car (ATMC)
                            .subheading.mb-3 May 2024
                            ul.mb-0
                                li Led the development of an autonomous self-driving car with integrated lane detection, traffic sign recognition, and stop recognition systems.
                                li Utilized Raspberry Pi, camera, ultrasonic sensors, and servos with OpenCV for advanced computer vision tasks achieving 90% accuracy in traffic sign recognition.

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')